.card{
    background: rgba(0, 0, 0, 0.3);
    color: azure;

}
a{
    color: azure;
    text-align: center;
    text-decoration: none;
}
.is-invalid{
    border: 2px solid orange;
}

.invalid-feedback{
    color: orange !important
}
