<div class="container mt-5">
    <div class="row">
        <div style="margin-top: 150px; color:azure;opacity:0.8;" class="col-6 d-md-block d-none">
            <h1 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;"
                class="text-center py-4">Employee</h1>
            <h1 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;"
                class="text-center py-4">Management</h1>
            <h1 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;"
                class="text-center py-4">Portal</h1>
        </div>
       <div class="col-8">
        <div style="margin-top: 90px;" class="col-8 card ms-4 px-5 py-5 border shadow">
            <h1 class="text-center mb-3 py-3">Login </h1>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="mb-3">
                    <label class="form-label"><b>Email address :</b></label>
                    <input type="email" formControlName="email" class="form-control" placeholder="Enter your email"
                        id="exampleInputEmail1" aria-describedby="emailHelp"
                        [ngClass]="{'is-invalid': submit && f.email.errors }">
                    <div *ngIf="submit && f.email.errors" class="invalid-feedback">
                        Email is required !
                    </div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" placeholder="Enter your password" class="form-label"><b>Password
                            :</b></label>
                    <input type="password" formControlName="password" placeholder="Enter your password"
                        class="form-control " id="exampleInputPassword1"
                        [ngClass]="{'is-invalid': submit && f.password.errors }">
                    <div *ngIf="submit && f.password.errors" class="invalid-feedback">
                        Password is required !
                    </div>


                </div>
                <div class="text-center py-3">
                    <button type="submit" class="btn w-25  btn-primary">Login</button>
                </div>
            </form>
            <a class="mt-1" routerLink="/signUp">New user ? Click here to Sign Up</a>
        </div>
       </div>
    </div>
</div>