<div class="container mt-2">
    <div class="py-4">
  <button  class="btn mt-4 btn-success rounded-0" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal">Add New</button>
  
    </div>
  
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Designation </th>
                <th scope="col">Salary</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
  
            </tr>
        </thead>
        <!-- <tbody>
            <tr *ngFor="let user of obj">
                <td scope="col">{{user.name}}</td>
                <td scope="col">{{user.mobile}}</td>
                <td scope="col">{{user.email}}</td>
                <td scope="col">{{user.password}}</td>
                <td><button  class="btn btn-warning">Edit</button></td>
                <td><button  class="btn btn-danger">Delete</button></td>
  
            </tr>
  
        </tbody> -->
    </table>
  
  </div>
  
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Employee Details</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="CreateForm">
            <div class="mb-3">
              <label class="form-label">Name</label>
              <input type="text" formControlName="fname" class="form-control"  aria-describedby="emailHelp">
              
            </div>
            <div class="mb-3">
              <label class="form-label">Email address</label>
              <input type="email" formControlName="email" class="form-control"  aria-describedby="emailHelp">
              
            </div>
            <div class="mb-3">
              <label  class="form-label">Designation</label>
              <input type="password" formControlName="desig" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
              <label  class="form-label">Salary</label>
              <input type="password" formControlName="salary" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Add</button>
        </div>
      </div>
    </div>
  </div>
