.card{
    background: rgba(0, 0, 0, 0.3);
    color: azure;
}
a{
    color: azure;
    text-decoration: none;
    text-align: center;
}
@media screen and (max-width:580px) {
    .card{
        width: 100% !important;
    }
    button.btn.w-25.btn-primary {
        width: 50%  !important;
    }
}
@media (min-width:581px) and (max-width:780px)  {
    .card{
        width: 75% !important;
    }
    button.btn.w-25.btn-primary {
        width: 50%  !important;
    }
}
